<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EF, FB & Vue Starter Sample</title>
</head>
<body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<div id="app">
<!--    <div v-for="data in jsonData.attendee_data">-->
<!--        {{data.full_name}}-->
<!--    </div>-->

    <h1>{{jsonData}}</h1>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Vue has loaded!!',
            jsonData: {}
        },
        computed:{
            videos(){
                let vids = []
                Object.entries(this.jsonData).forEach(([idx, value]) => {
                    if (value.resource_url.includes('vimeo')){
                        vids.push(value)
                    }
                });
                return vids
            },
        },
        methods:{},
        async mounted() {
            let url = 'https://nmr-dev-sandbox-default-rtdb.firebaseio.com/.json';
            try {
                this.jsonData = await axios.get(url).then(res => res.data);
                this.error = null;
            } catch (error) {
                this.jsonData = null;
                this.error = error;
            }
    }})
</script>

</body>
</html>